<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table>
    <th:block th:each="user : ${listOfUsers}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.phoneNumber}"></td>
        </tr>
    </th:block>
</table>

<form action="/users" method="post">
    <h2>First name</h2>
    <input type="text" name="firstName">
    <br>

    <h2>Last name</h2>
    <input type="text" name="lastName">
    <br>

    <h2>Phone number</h2>
    <input type="text" name="phoneNumber">
    <br>

    <button type="submit">Save</button>
</form>

</body>
</html>